# Handle catogericla features many
# Count or frequency encoding
## High cardinality
- variables wiht multitude catogeries, are also called as high cardinality.
- if variable have multiple labels then we use one hot encoding, using this we expand the feature space dramatically
- one of the approach is heavily used in kaggle compititaitons, it to repalce each lable of the cateforicla variable by the count, this is the amount of thimes each label appears in the dataset. or the frequency, this is the percentage of bservation within that catogry. the 2 are equivallent.

In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv('mercedesbenz.csv',usecols=['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [2]:
df.shape

(4209, 2)

# one hot encoding

In [3]:
pd.get_dummies(df).shape
# we can see form 2 columns we are getting the 71 columns

(4209, 71)

In [4]:
len(df['X1'].unique())

27

In [5]:
len(df['X2'].unique())

44

In [6]:
# lets take a look on how many labels are there
for col in df.columns[0:]:
    print(col,' : ',len(df[col].unique())," labels")

X1  :  27  labels
X2  :  44  labels

In [7]:
# lets obtain the count for each one of the labels in vauable X2
# lets capture this in a dictionary that we can use to re-map the lablesfor 
df["X2"].value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [8]:
# now lets replace each label in X2 by its count
# first we amek a dictionary that maps each label to the count
df_frequency_map=df.X2.value_counts().to_dict()

In [9]:
df.X2.head()

0    at
1    av
2     n
3     n
4     n
Name: X2, dtype: object

In [10]:
# we replace X2 labels in the dataset df
df.X2=df.X2.map(df_frequency_map)
df.head(100)

    X1    X2
0    v     6
1    t     4
2    w   137
3    t   137
4    v   137
..  ..   ...
95   b   367
96   l  1659
97  aa  1659
98   b   367
99   s   367

[100 rows x 2 columns]

There are some adventages and disadventages that will discuss now
# adv
1. it is very simple to implement
2. Does not increase the future dimensional space
# disadv
1. if some of the labels have the same count, then they will be repaced wiht the same count and they will loose some valuable information
2. adds somewhat arbitary numbers, and therefore weights to the different labels, that may not be related to their predictive powers