# Ordinal numbering encoding or label encoding
## Ordinal categorial varialbes
Ordinal data is a catogorical, dtatisticla data type where the variables have natural, ordered categories and the distance between the categories is not known.

In [1]:
import datetime

In [2]:
today_date=datetime.datetime.today()

In [3]:
today_date

datetime.datetime(2026, 1, 19, 1, 19, 13, 170146)

In [4]:
# taking 3 days back from the today_date
today_date-datetime.timedelta(3)

datetime.datetime(2026, 1, 16, 1, 19, 13, 170146)

In [5]:
# list comprehension
days=[today_date-datetime.timedelta(x) for x in range(0,15)]
days

[datetime.datetime(2026, 1, 19, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 18, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 17, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 16, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 15, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 14, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 13, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 12, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 11, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 10, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 9, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 8, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 7, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 6, 1, 19, 13, 170146),
 datetime.datetime(2026, 1, 5, 1, 19, 13, 170146)]

In [6]:
# converting the days into data frame
import pandas as pd
data=pd.DataFrame(days)
data.columns=["Day"]

In [7]:
data.head()

                         Day
0 2026-01-19 01:19:13.170146
1 2026-01-18 01:19:13.170146
2 2026-01-17 01:19:13.170146
3 2026-01-16 01:19:13.170146
4 2026-01-15 01:19:13.170146

In [8]:
data['day_of_week']=data['Day'].dt.day_name()

In [9]:
data.head()

                         Day day_of_week
0 2026-01-19 01:19:13.170146      Monday
1 2026-01-18 01:19:13.170146      Sunday
2 2026-01-17 01:19:13.170146    Saturday
3 2026-01-16 01:19:13.170146      Friday
4 2026-01-15 01:19:13.170146    Thursday

In [10]:
dit={
    'Monday':1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5,
    'Saturday':6,
    'Sunday':7
}

In [11]:
dit

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [12]:
data['weekday_ordianl']=data['day_of_week'].map(dit)

In [13]:
data.head()

                         Day day_of_week  weekday_ordianl
0 2026-01-19 01:19:13.170146      Monday                1
1 2026-01-18 01:19:13.170146      Sunday                7
2 2026-01-17 01:19:13.170146    Saturday                6
3 2026-01-16 01:19:13.170146      Friday                5
4 2026-01-15 01:19:13.170146    Thursday                4

# Adventages:
1. Not incresing any feature space.

# Disadventages:
1. It will provide same wight if the frequencies are same.

# Target Guided Ordinal Encoding
1. Ordering the labels according to target.
2. Replace the labels by the joint probability being 1 or 0

In [14]:
import pandas as pd
df=pd.read_csv('titanic_train.csv', usecols=['Cabin','Survived'])

In [15]:
df.head(10)

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN
5         0   NaN
6         0   E46
7         0   NaN
8         1   NaN
9         1   NaN

In [16]:
df.fillna({'Cabin': 'Missing'})

     Survived    Cabin
0           0  Missing
1           1      C85
2           1  Missing
3           1     C123
4           0  Missing
..        ...      ...
886         0  Missing
887         1      B42
888         0  Missing
889         1     C148
890         0  Missing

[891 rows x 2 columns]

In [17]:
df['Cabin']=df['Cabin'].astype(str).str[0]

In [18]:
df.head()

   Survived Cabin
0         0     n
1         1     C
2         1     n
3         1     C
4         0     n

In [19]:
# finding unique values
df.Cabin.unique()

array(['n', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [20]:
# finding mean of survived from cabin wiht unique catogeries
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
T    0.000000
n    0.299854
Name: Survived, dtype: float64

In [21]:
# sorting the mean values.
df.groupby(['Cabin'])['Survived'].mean().sort_values().index

Index(['T', 'n', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [22]:
ordinal_labels=df.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'n', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [23]:
# using enumerate we will assing the ranking to the ordinal labels
# we are starting labeling with 0 because the model will get more information
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

{'T': 0, 'n': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [24]:
# mapping a new column with the ordinal_label2
df['cabin_ordianl_labels']=df['Cabin'].map(ordinal_labels2)

In [25]:
df.head()

   Survived Cabin  cabin_ordianl_labels
0         0     n                     1
1         1     C                     4
2         1     n                     1
3         1     C                     4
4         0     n                     1

# Mean encoding

In [26]:
mean_ordianl=df.groupby(['Cabin'])['Survived'].mean().to_dict()
mean_ordianl

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'T': 0.0,
 'n': 0.29985443959243085}

In [27]:
df['mean_ordianl_encoding']=df['Cabin'].map(mean_ordianl)

In [28]:
df.head()

   Survived Cabin  cabin_ordianl_labels  mean_ordianl_encoding
0         0     n                     1               0.299854
1         1     C                     4               0.593220
2         1     n                     1               0.299854
3         1     C                     4               0.593220
4         0     n                     1               0.299854

# Adventages:
1. capture information in lable therefore rendring more predective features.
2. it creates the monotonic relationship between target and the variable.

# Disadventages:
1. it leads to overfitting

# Probability Ratio Encoding

In [29]:
df=pd.read_csv('titanic_train.csv',usecols=['Cabin','Survived'])

In [30]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [31]:
# replacing
df.fillna({'Cabin': 'Missing'}, inplace=True)

In [32]:
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [33]:
df["Cabin"].unique()

array(['Missing', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [34]:
df['Cabin']=df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [35]:
df['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [36]:
# with respect to cabin what is survival rate.
prob_df=df.groupby(['Cabin'])['Survived'].mean()
prob_df

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [37]:
# probability of survived
prob_df=pd.DataFrame(prob_df)

In [38]:
prob_df

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [39]:
# probability of death
prob_df["Died"]=1-prob_df["Survived"]
prob_df

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000
F      0.615385  0.384615
G      0.500000  0.500000
M      0.299854  0.700146
T      0.000000  1.000000

In [40]:
# formul for probabily ratio is probability of survived by probability of died.
prob_df["probability_ratio"]=prob_df['Survived']/prob_df['Died']
prob_df.head()

       Survived      Died  probability_ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000

In [41]:
# making probability_ratio a dictionary so we can replace nan values with it.
prob_encoded=prob_df['probability_ratio'].to_dict()
prob_encoded

{'A': 0.875,
 'B': 2.916666666666666,
 'C': 1.4583333333333333,
 'D': 3.125,
 'E': 3.0,
 'F': 1.6000000000000003,
 'G': 1.0,
 'M': 0.42827442827442824,
 'T': 0.0}

In [42]:
df['Cabin_encoded']=df['Cabin'].map(prob_encoded)
df.head()

   Survived Cabin  Cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274

- we can skip the cabin column and use cabin_encoded column for model training