# zip function
- it allow to iterate through the multiple iterators parallely
- we can use for loop and next to iterate through the zip

In [22]:
lst1=['krish','sam','john']
lst2=['a','b','c']

In [23]:
for i in lst1:
    print(i)

krish
sam
john

In [24]:
output=zip(lst1,lst2)

In [25]:
output

In [28]:
type(output)

zip

In [26]:
# using iterator for zip object
next(output)

('krish', 'a')

In [27]:
list(output)  #typecasting the output elements to the list.

[('sam', 'b'), ('john', 'c')]

In [20]:
# we are getting lst1 and lst2 elements in the form of tupel.

In [31]:
output=zip(lst1,lst2)
for i,j in output:
    print(i,j)

krish a
sam b
john c

In [32]:
lst1=['krish','sam','john']
lst2=['a','b','c']
lst3=[1,2,3]
output=zip(lst1,lst2,lst3)
for i,j,k in output:
    print(i,j,k)

krish a 1
sam b 2
john c 3

In [33]:
# creating empty zip
list(zip())

[]

In [48]:
# creating dictonary
dict1 = {"name": "Krishna", "age": 20}
dict2 = {"city": "Aurangabad", "country": "India"}

In [50]:
dict1        # giving me back the dictionary

{'name': 'Krishna', 'age': 20}

In [52]:
dict1.items()         # giving back me list

dict_items([('name', 'Krishna'), ('age', 20)])

In [53]:
dictionary=zip(dict1.items(),dict2.items())

In [54]:
for (i,j),(i1,j1) in dictionary:
    print(i,j)
    print(i1,j1)

name Krishna
city Aurangabad
age 20
country India

In [55]:
# creating the dictionary form the list using zip
keys1=['name','age']
values1=['krishna',19]
# maing dict
dict1=dict(zip(keys1,values1))

keys2=['city','sex']
values2=['aura','male']
dict2=dict(zip(keys2,values2))

In [56]:
print(dict1)
print(dict2)

{'name': 'krishna', 'age': 19}
{'city': 'aura', 'sex': 'male'}