# Ordinal numbering encoding or label encoding
## Ordinal categorial varialbes
Ordinal data is a catogorical, dtatisticla data type where the variables have natural, ordered categories and the distance between the categories is not known.

In [1]:
import pandas as pd
import datetime

In [2]:
# create a variable with dates, and form that extract the weekday
# creating a list of dates with 20 days different form today
# then transform it into a dataframe
df_base=datetime.datetime.today()
df_date_list=[df_base-datetime.timedelta(days=x) for x in range(0,20)]
df=pd.DataFrame(df_date_list)
df.columns=['day']
df

                          day
0  2026-01-13 22:57:30.423530
1  2026-01-12 22:57:30.423530
2  2026-01-11 22:57:30.423530
3  2026-01-10 22:57:30.423530
4  2026-01-09 22:57:30.423530
5  2026-01-08 22:57:30.423530
6  2026-01-07 22:57:30.423530
7  2026-01-06 22:57:30.423530
8  2026-01-05 22:57:30.423530
9  2026-01-04 22:57:30.423530
10 2026-01-03 22:57:30.423530
11 2026-01-02 22:57:30.423530
12 2026-01-01 22:57:30.423530
13 2025-12-31 22:57:30.423530
14 2025-12-30 22:57:30.423530
15 2025-12-29 22:57:30.423530
16 2025-12-28 22:57:30.423530
17 2025-12-27 22:57:30.423530
18 2025-12-26 22:57:30.423530
19 2025-12-25 22:57:30.423530

In [7]:
# extract the week day name
df['day_of_week']=df['day'].dt.day_name()
df.head()

                         day day_of_week
0 2026-01-13 22:57:30.423530     Tuesday
1 2026-01-12 22:57:30.423530      Monday
2 2026-01-11 22:57:30.423530      Sunday
3 2026-01-10 22:57:30.423530    Saturday
4 2026-01-09 22:57:30.423530      Friday

In [10]:
# engineer catogericla varaibles by ordinal number replacement
weekday_map={'Monday':1,
             'Tuesday':2,
             'Wednesday':3,
             'Thursday':4,
             'Friday':5,
             'Saturday':6,
             'Sunday':7
                 }
df['day_ordinal']=df.day_of_week.map(weekday_map)
df.head(20)

                          day day_of_week  day_ordinal
0  2026-01-13 22:57:30.423530     Tuesday            2
1  2026-01-12 22:57:30.423530      Monday            1
2  2026-01-11 22:57:30.423530      Sunday            7
3  2026-01-10 22:57:30.423530    Saturday            6
4  2026-01-09 22:57:30.423530      Friday            5
5  2026-01-08 22:57:30.423530    Thursday            4
6  2026-01-07 22:57:30.423530   Wednesday            3
7  2026-01-06 22:57:30.423530     Tuesday            2
8  2026-01-05 22:57:30.423530      Monday            1
9  2026-01-04 22:57:30.423530      Sunday            7
10 2026-01-03 22:57:30.423530    Saturday            6
11 2026-01-02 22:57:30.423530      Friday            5
12 2026-01-01 22:57:30.423530    Thursday            4
13 2025-12-31 22:57:30.423530   Wednesday            3
14 2025-12-30 22:57:30.423530     Tuesday            2
15 2025-12-29 22:57:30.423530      Monday            1
16 2025-12-28 22:57:30.423530      Sunday            7
17 2025-12-27 22:57:30.423530    Saturday            6
18 2025-12-26 22:57:30.423530      Friday            5
19 2025-12-25 22:57:30.423530    Thursday            4